@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "LINE Seed Sans TH", sans-serif;
}

.wysiwyg-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  /* Add any other styles you want for h1 */
}

/* You can add styles for other elements as well */
.wysiwyg-content p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Ensure proper text direction for Thai content */
.wysiwyg-content [dir="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
}

.hs-tab-active {
  border-color: var(--tab-color);
  color: var(--tab-color);
}

.hs-tab-active:hover,
.hs-tab-active:focus {
  color: var(--tab-color);
}
