{"openapi":"3.0.1","info":{"title":"Dynamic API Specification","description":"This is a dynamically generated API specification for all endpoints existing on the current project.","version":"11.5.1"},"servers":[{"url":"https://console.portal.aiya.me","description":"Your current Directus instance."}],"paths":{"/assets/{id}":{"get":{"tags":["Assets"],"operationId":"getAsset","summary":"Get an Asset","description":"Image typed files can be dynamically resized and transformed to fit any need.","parameters":[{"name":"id","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"The key of the asset size configured in settings.","schema":{"type":"string"}},{"name":"transforms","in":"query","description":"A JSON array of image transformations","schema":{"type":"string"}},{"name":"download","in":"query","description":"Download the asset to your computer","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/auth/login":{"post":{"summary":"Retrieve a Temporary Access Token","description":"Retrieve a Temporary Access Token","tags":["Authentication"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're retrieving the access token for."},"password":{"type":"string","description":"Password of the user.","format":"password","example":"password"},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to retrieve the refresh token in the JSON response, or in a httpOnly cookie."},"otp":{"type":"string","description":"The user's one-time-password (if MFA is enabled)."}}}}}},"responses":{"200":{"description":"Successful authentification","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"yuOJkjdPXMd..."}}}}}}}}}}},"/auth/refresh":{"post":{"summary":"Refresh Token","description":"Refresh a Temporary Access Token.","tags":["Authentication"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"JWT access token you want to refresh. This token can't be expired."},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to submit and retrieve the refresh token in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"Gy-caJMpmGTA..."}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/logout":{"post":{"summary":"Log Out","description":"Log Out","tags":["Authentication"],"operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"The refresh token to invalidate. If you have the refresh token in a cookie through /auth/login, you don't have to submit it here."},"mode":{"type":"string","enum":["json","cookie","session"],"description":"Whether the refresh token is submitted in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Request successful"}}}},"/auth/password/request":{"post":{"tags":["Authentication"],"operationId":"passwordRequest","summary":"Request a Password Reset","description":"Request a reset password email to be send.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're requesting a reset for."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/password/reset":{"post":{"tags":["Authentication"],"operationId":"passwordReset","summary":"Reset a Password","description":"The request a password reset endpoint sends an email with a link to the admin app which in turn uses this endpoint to allow the user to reset their password.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["token","password"],"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1Qi...","description":"One-time use JWT token that is used to verify the user."},"password":{"type":"string","example":"password","format":"password","description":"New password for the user."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth":{"get":{"tags":["Authentication"],"operationId":"oauth","summary":"List OAuth Providers","description":"List configured OAuth providers.","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"array","example":["github","facebook"],"items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth/{provider}":{"get":{"summary":"Authenticated using an OAuth provider","description":"Start OAuth flow using the specified provider","tags":["Authentication"],"operationId":"oauthProvider","parameters":[{"name":"provider","in":"path","description":"Key of the activated OAuth provider.","required":true,"schema":{"type":"string"}},{"name":"redirect","in":"query","required":false,"description":"Where to redirect on successful login.<br/>If set the authentication details are set inside cookies otherwise a JSON is returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"object","properties":{"token":{"type":"string"}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/schema/snapshot":{"get":{"summary":"Retrieve Schema Snapshot","description":"Retrieve the current schema. This endpoint is only available to admin users.","operationId":"schemaSnapshot","parameters":[{"$ref":"#/components/parameters/Export"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Schema"}}}},"text/yaml":{"schema":{"type":"string","format":"binary"}}}},"403":{"$ref":"#/components/responses/UnauthorizedError"}},"tags":["Schema"]}},"/schema/apply":{"post":{"summary":"Apply Schema Difference","description":"Update the instance's schema by passing the diff previously retrieved via `/schema/diff` endpoint in the JSON request body or a JSON/YAML file. This endpoint is only available to admin users.","operationId":"schemaApply","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Diff"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"204":{"description":"Successful request"},"403":{"$ref":"#/components/responses/UnauthorizedError"}},"tags":["Schema"]}},"/schema/diff":{"post":{"summary":"Retrieve Schema Difference","description":"Compare the current instance's schema against the schema snapshot in JSON request body or a JSON/YAML file and retrieve the difference. This endpoint is only available to admin users.","operationId":"schemaDiff","parameters":[{"name":"force","description":"Bypass version and database vendor restrictions.","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Schema"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Diff"}}}}}},"204":{"description":"No schema difference."},"403":{"$ref":"#/components/responses/UnauthorizedError"}},"tags":["Schema"]}},"/server/info":{"get":{"summary":"System Info","description":"Perform a system status check and return the options.","operationId":"serverInfo","parameters":[{"description":"The first time you create a project, the provided token will be saved and required for subsequent project installs. It can also be found and configured in `/config/__api.json` on your server.","in":"query","name":"super_admin_token","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"object"}},"type":"object"}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Server"]}},"/server/ping":{"get":{"summary":"Ping","description":"Ping, pong. Ping.. pong.","operationId":"ping","responses":{"200":{"content":{"application/text":{"schema":{"type":"string","pattern":"pong","example":"pong"}}},"description":"Successful request"}},"tags":["Server"]}},"/utils/hash/generate":{"post":{"summary":"Hash a string","description":"Generate a hash for a given string.","operationId":"hash-generate","requestBody":{"content":{"application/json":{"schema":{"properties":{"string":{"description":"String to hash.","type":"string"}},"required":["string"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"string","example":"$argon2i$v=19$m=4096,t=3,p=1$pOyIa/zmRAjCVLb2f7kOyg$DasoO6LzMM+6iKfzCDq6JbsYsZWLSm33p7i9NxL9mDc"}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/utils/hash/verify":{"post":{"summary":"Hash a string","description":"Generate a hash for a given string.","operationId":"hash-verify","requestBody":{"content":{"application/json":{"schema":{"properties":{"string":{"description":"String to hash.","type":"string"},"hash":{"description":"Hash you want to verify against.","type":"string"}},"required":["string","hash"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"boolean","example":true}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/utils/sort/{collection}":{"post":{"summary":"Sort Items","description":"Re-sort items in collection based on start and to value of item","operationId":"sort","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"item":{"description":"Primary key of item to move","type":"number"},"to":{"description":"Primary key of item where to move the current item to","type":"number"}}}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/import/{collection}":{"post":{"summary":"Import Items","description":"Import multiple records from a JSON or CSV file into a collection.","operationId":"import","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/export/{collection}":{"post":{"summary":"Export Items","description":"Export a larger data set to a file in the File Library","operationId":"export","parameters":[{"description":"Collection identifier","in":"path","name":"collection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"format":{"description":"What file format to save the export to. One of csv, xml, json","type":"string","enum":["csv","xml","json"]},"query":{"$ref":"#/components/schemas/Query"},"file":{"$ref":"#/components/schemas/Files"}},"required":["format","query","file"]}}}},"responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/cache/clear":{"post":{"summary":"Clear Cache","description":"Resets both the data and schema cache of Directus.","operationId":"clear-cache","responses":{"200":{"description":"Successful request"}},"tags":["Utilities"]}},"/utils/random/string":{"get":{"summary":"Get a Random String","description":"Returns a random string of given length.","operationId":"random","parameters":[{"description":"Length of the random string.","in":"query","name":"length","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"string","example":"1>M3+4oh.S"}},"type":"object"}}},"description":"Successful request"}},"tags":["Utilities"]}},"/items/llm_models":{"post":{"summary":"Create an Item","description":"Create a new llm_models item.","tags":["Items","ItemsLLMModels"],"operationId":"createItemsLLMModels","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsLLMModels"}},{"$ref":"#/components/schemas/ItemsLLMModels"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsLLMModels"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"get":{"summary":"List Items","description":"List the llm_models items.","tags":["Items","ItemsLLMModels"],"operationId":"readItemsLLMModels","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsLLMModels"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update Multiple Items","description":"Update multiple llm_models items at the same time.","tags":["Items","ItemsLLMModels"],"operationId":"updateItemsLLMModels","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsLLMModels"}},{"$ref":"#/components/schemas/ItemsLLMModels"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsLLMModels"}}}}}}}}},"delete":{"summary":"Delete Multiple Items","description":"Delete multiple existing llm_models items.","tags":["Items","ItemsLLMModels"],"operationId":"deleteItemsLLMModels","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"parameters":[]}},"/items/llm_models/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single llm_models item by unique identifier.","tags":["Items","ItemsLLMModels"],"operationId":"readSingleItemsLLMModels","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsLLMModels"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"patch":{"summary":"Update an Item","description":"Update an existing llm_models item.","tags":["Items","ItemsLLMModels"],"operationId":"updateSingleItemsLLMModels","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/ItemsLLMModels"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsLLMModels"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"delete":{"summary":"Delete an Item","description":"Delete an existing llm_models item.","tags":["Items","ItemsLLMModels"],"operationId":"deleteSingleItemsLLMModels","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"parameters":[{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}]}},"/items/languages":{"post":{"summary":"Create an Item","description":"Create a new languages item.","tags":["Items","ItemsLanguages"],"operationId":"createItemsLanguages","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsLanguages"}},{"$ref":"#/components/schemas/ItemsLanguages"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsLanguages"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"get":{"summary":"List Items","description":"List the languages items.","tags":["Items","ItemsLanguages"],"operationId":"readItemsLanguages","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsLanguages"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update Multiple Items","description":"Update multiple languages items at the same time.","tags":["Items","ItemsLanguages"],"operationId":"updateItemsLanguages","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsLanguages"}},{"$ref":"#/components/schemas/ItemsLanguages"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsLanguages"}}}}}}}}},"delete":{"summary":"Delete Multiple Items","description":"Delete multiple existing languages items.","tags":["Items","ItemsLanguages"],"operationId":"deleteItemsLanguages","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"parameters":[]}},"/items/languages/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single languages item by unique identifier.","tags":["Items","ItemsLanguages"],"operationId":"readSingleItemsLanguages","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsLanguages"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"patch":{"summary":"Update an Item","description":"Update an existing languages item.","tags":["Items","ItemsLanguages"],"operationId":"updateSingleItemsLanguages","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/ItemsLanguages"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsLanguages"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"delete":{"summary":"Delete an Item","description":"Delete an existing languages item.","tags":["Items","ItemsLanguages"],"operationId":"deleteSingleItemsLanguages","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"parameters":[{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}]}},"/items/saas_helpdesk_translations":{"post":{"summary":"Create an Item","description":"Create a new saas_helpdesk_translations item.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"createItemsSaasHelpdeskTranslations","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}},{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"get":{"summary":"List Items","description":"List the saas_helpdesk_translations items.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"readItemsSaasHelpdeskTranslations","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update Multiple Items","description":"Update multiple saas_helpdesk_translations items at the same time.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"updateItemsSaasHelpdeskTranslations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}},{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}}}}}}}}},"delete":{"summary":"Delete Multiple Items","description":"Delete multiple existing saas_helpdesk_translations items.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"deleteItemsSaasHelpdeskTranslations","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"parameters":[]}},"/items/saas_helpdesk_translations/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single saas_helpdesk_translations item by unique identifier.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"readSingleItemsSaasHelpdeskTranslations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"patch":{"summary":"Update an Item","description":"Update an existing saas_helpdesk_translations item.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"updateSingleItemsSaasHelpdeskTranslations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsSaasHelpdeskTranslations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"delete":{"summary":"Delete an Item","description":"Delete an existing saas_helpdesk_translations item.","tags":["Items","ItemsSaasHelpdeskTranslations"],"operationId":"deleteSingleItemsSaasHelpdeskTranslations","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"parameters":[{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}]}},"/roles":{"get":{"summary":"List Roles","description":"List the roles.","operationId":"getRoles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Roles"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Roles"]},"post":{"summary":"Create a Role","description":"Create a new role.","operationId":"createRole","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"description":{"description":"Description of the role.","type":"string"},"enforce_tfa":{"description":"Whether or not this role enforces the use of 2FA.","type":"boolean"},"external_id":{"description":"ID used with external services in SCIM.","type":"string"},"ip_access":{"description":"Array of IP addresses that are allowed to connect to the API as a user of this role.","type":"array","items":{"type":"string"}},"module_listing":{"description":"Custom override for the admin app module bar navigation.","type":"string"},"name":{"description":"Name of the role.","type":"string","example":"Interns"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Roles"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Roles"]},"patch":{"summary":"Update Multiple Roles","description":"Update multiple roles at the same time.","tags":["Roles"],"operationId":"updateRoles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"keys":{"type":"array","items":{"type":"string"}},"data":{"type":"object","properties":{"description":{"description":"Description of the role.","type":"string"},"enforce_tfa":{"description":"Whether or not this role enforces the use of 2FA.","type":"boolean"},"external_id":{"description":"ID used with external services in SCIM.","type":"string"},"ip_access":{"description":"Array of IP addresses that are allowed to connect to the API as a user of this role.","type":"array","items":{"type":"string"}},"module_listing":{"description":"Custom override for the admin app module bar navigation.","type":"string"},"name":{"description":"Name of the role.","type":"string","example":"Interns"}}}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Roles"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Roles","description":"Delete multiple existing roles.","tags":["Roles"],"operationId":"deleteRoles","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/roles/{id}":{"get":{"summary":"Retrieve a Role","description":"Retrieve a single role by unique identifier.","operationId":"getRole","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Roles"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Roles"]},"patch":{"summary":"Update a Role","description":"Update an existing role","operationId":"updateRole","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"description":{"description":"Description of the role.","type":"string"},"enforce_tfa":{"description":"Whether or not this role enforces the use of 2FA.","type":"boolean"},"external_id":{"description":"ID used with external services in SCIM.","type":"string"},"ip_access":{"description":"Array of IP addresses that are allowed to connect to the API as a user of this role.","type":"array","items":{"type":"string"}},"module_listing":{"description":"Custom override for the admin app module bar navigation.","type":"string"},"name":{"description":"Name of the role.","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Roles"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Roles"]},"delete":{"summary":"Delete a Role","description":"Delete an existing role","operationId":"deleteRole","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Roles"],"parameters":[{"$ref":"#/components/parameters/UUId"}]}},"/collections":{"get":{"summary":"List Collections","description":"Returns a list of the collections available in the project.","operationId":"getCollections","parameters":[{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Collections"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]},"post":{"summary":"Create a Collection","description":"Create a new collection in Directus.","operationId":"createCollection","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["collection","fields"],"properties":{"collection":{"type":"string","description":"Unique name of the collection.","example":"my_collection"},"fields":{"type":"array","description":"The fields contained in this collection. See the fields reference for more information. Each individual field requires field, type, and interface to be provided.","items":{"type":"object"}},"icon":{"description":"Name of a Google Material Design Icon that's assigned to this collection.","type":"string","example":"people","nullable":true},"note":{"description":"A note describing the collection.","type":"string","example":null,"nullable":true},"display_template":{"description":"Text representation of how items from this collection are shown across the system.","type":"string","example":null,"nullable":true},"hidden":{"description":"Whether or not the collection is hidden from the navigation in the admin app.","type":"boolean","example":false},"singleton":{"description":"Whether or not the collection is treated as a single object.","type":"boolean","example":false},"translation":{"description":"Key value pairs of how to show this collection's name in different languages in the admin app.","type":"string","example":null,"nullable":true},"versioning":{"description":"Whether or not Content Versioning is enabled for this collection.","type":"boolean","example":false},"archive_field":{"description":"What field holds the archive value.","type":"string","example":null,"nullable":true},"archive_app_filter":{"description":"What value to use for \"archived\" items.","type":"string","example":null,"nullable":true},"archive_value":{"description":"What value to use to \"unarchive\" items.","type":"string","example":null,"nullable":true},"unarchive_value":{"description":"Whether or not to show the \"archived\" filter.","type":"string","example":null,"nullable":true},"sort_field":{"description":"The sort field in the collection.","type":"string","example":null,"nullable":true}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Collections"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]}},"/collections/{id}":{"get":{"summary":"Retrieve a Collection","description":"Retrieves the details of a single collection.","operationId":"getCollection","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the collection.","schema":{"type":"string"}},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Collections"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]},"patch":{"summary":"Update a Collection","description":"Update an existing collection.","operationId":"updateCollection","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the collection.","schema":{"type":"string"}},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"description":"Metadata of the collection.","type":"object","properties":{"icon":{"description":"Name of a Google Material Design Icon that's assigned to this collection.","type":"string","example":"people","nullable":true},"color":{"description":"Choose the color for the icon assigned to this collection.","type":"string","example":"#6644ff","nullable":true},"note":{"description":"A note describing the collection.","type":"string","example":null,"nullable":true},"display_template":{"description":"Text representation of how items from this collection are shown across the system.","type":"string","example":null,"nullable":true},"hidden":{"description":"Whether or not the collection is hidden from the navigation in the admin app.","type":"boolean","example":false},"singleton":{"description":"Whether or not the collection is treated as a single object.","type":"boolean","example":false},"translation":{"description":"Key value pairs of how to show this collection's name in different languages in the admin app.","type":"string","example":null,"nullable":true},"versioning":{"description":"Whether or not Content Versioning is enabled for this collection.","type":"boolean","example":false},"archive_field":{"description":"What field holds the archive value.","type":"string","example":null,"nullable":true},"archive_app_filter":{"description":"What value to use for \"archived\" items.","type":"string","example":null,"nullable":true},"archive_value":{"description":"What value to use to \"unarchive\" items.","type":"string","example":null,"nullable":true},"unarchive_value":{"description":"Whether or not to show the \"archived\" filter.","type":"string","example":null,"nullable":true},"sort_field":{"description":"The sort field in the collection.","type":"string","example":null,"nullable":true}}}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Collections"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"]},"delete":{"summary":"Delete a Collection","description":"Delete an existing collection. Warning: This will delete the whole collection, including the items within. Proceed with caution.","operationId":"deleteCollection","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Collections"],"parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the collection.","schema":{"type":"string"}}]}},"/users":{"get":{"summary":"List Users","description":"List the users.","operationId":"getUsers","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Users"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]},"post":{"summary":"Create a User","description":"Create a new user.","operationId":"createUser","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Users"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]},"patch":{"summary":"Update Multiple Users","description":"Update multiple users at the same time.","tags":["Users"],"operationId":"updateUsers","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"},"keys":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Users"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Users","description":"Delete multiple existing users.","tags":["Users"],"operationId":"deleteUsers","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/users/{id}":{"get":{"summary":"Retrieve a User","description":"Retrieve a single user by unique identifier.","operationId":"getUser","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]},"patch":{"summary":"Update a User","description":"Update an existing user","operationId":"updateUser","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Users"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"object"}},"type":"object"}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]},"delete":{"summary":"Delete a User","description":"Delete an existing user","operationId":"deleteUser","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"],"parameters":[{"$ref":"#/components/parameters/UUId"}]}},"/users/invite":{"post":{"summary":"Invite User(s)","description":"Invites one or more users to this project. It creates a user with an invited status, and then sends an email to the user with instructions on how to activate their account.","operationId":"invite","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"description":"Email address or array of email addresses of the to-be-invited user(s).","type":"string"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/users/invite/accept":{"post":{"summary":"Accept User Invite","description":"Accepts and enables an invited user using a JWT invitation token.","operationId":"acceptInvite","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","example":"eyJh...KmUk","description":"Accept invite token."},"password":{"type":"string","description":"Password of the user.","format":"password","example":"d1r3ctu5"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/users/me":{"get":{"summary":"Retrieve Current User","description":"Retrieve the currently authenticated user.","operationId":"getMe","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]},"patch":{"summary":"Update Current User","description":"Update the currently authenticated user.","operationId":"updateMe","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Users"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/users/me/track/page":{"patch":{"summary":"Update Last Page","description":"Updates the last used page field of the currently authenticated user. This is used internally to be able to open the Directus admin app from the last page you used.","operationId":"updateLastUsedPageMe","requestBody":{"content":{"application/json":{"schema":{"properties":{"last_page":{"description":"Path of the page you used last.","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/users/me/tfa/enable":{"post":{"summary":"Enable 2FA","description":"Enables two-factor authentication for the currently authenticated user.","operationId":"meTfaEnable","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/users/me/tfa/disable":{"post":{"summary":"Disable 2FA","description":"Disables two-factor authentication for the currently authenticated user.","operationId":"meTfaDisable","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Users"]}},"/presets":{"get":{"tags":["Presets"],"operationId":"getPresets","summary":"List Presets","description":"List the presets.","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Page"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Presets"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"post":{"tags":["Presets"],"operationId":"createPreset","summary":"Create a Preset","description":"Create a new preset.","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["collection"],"properties":{"collection":{"type":"string","description":"What collection this collection preset is used for.","example":"articles"},"title":{"type":"string","description":"Name for the bookmark. If this is set, the collection preset will be considered to be a bookmark.","example":"Highly rated articles"},"role":{"type":"string","description":"The unique identifier of a role in the platform. If user is null, this will be used to apply the collection preset or bookmark for all users in the role.","example":null},"search":{"type":"string","description":"What the user searched for in search/filter in the header bar."},"filters":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"aHKLAakdVghzD"},"field":{"type":"string","example":"rating"},"operator":{"type":"string","example":"gte"},"value":{"type":"integer","example":4.5}}}},"layout":{"type":"string","description":"Name of the view type that is used."},"layout_query":{"type":"string","description":"Layout query that's saved per layout type. Controls what data is fetched on load. These follow the same format as the JS SDK parameters."},"layout_options":{"type":"string","description":"Options of the views. The properties in here are controlled by the layout."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Presets"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update Multiple Presets","description":"Update multiple presets at the same time.","tags":["Presets"],"operationId":"updatePresets","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"type":"string"}},"data":{"type":"object","required":["collection"],"properties":{"collection":{"type":"string","description":"What collection this collection preset is used for.","example":"articles"},"title":{"type":"string","description":"Name for the bookmark. If this is set, the collection preset will be considered to be a bookmark.","example":"Highly rated articles"},"role":{"type":"string","description":"The unique identifier of a role in the platform. If user is null, this will be used to apply the collection preset or bookmark for all users in the role.","example":null},"search":{"type":"string","description":"What the user searched for in search/filter in the header bar."},"filters":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"aHKLAakdVghzD"},"field":{"type":"string","example":"rating"},"operator":{"type":"string","example":"gte"},"value":{"type":"integer","example":4.5}}}},"layout":{"type":"string","description":"Name of the view type that is used."},"layout_query":{"type":"string","description":"Layout query that's saved per layout type. Controls what data is fetched on load. These follow the same format as the JS SDK parameters."},"layout_options":{"type":"string","description":"Options of the views. The properties in here are controlled by the layout."}}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Presets"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Presets","description":"Delete multiple existing presets.","tags":["Presets"],"operationId":"deletePresets","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/presets/{id}":{"get":{"tags":["Presets"],"operationId":"getPreset","summary":"Retrieve a Preset","description":"Retrieve a single preset by unique identifier.","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Presets"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"tags":["Presets"],"operationId":"updatePreset","summary":"Update a Preset","description":"Update an existing preset.","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["collection"],"properties":{"collection":{"type":"string","description":"What collection this collection preset is used for.","example":"articles"},"title":{"type":"string","description":"Name for the bookmark. If this is set, the collection preset will be considered to be a bookmark.","example":"Highly rated articles"},"role":{"type":"integer","description":"The unique identifier of a role in the platform. If user is null, this will be used to apply the collection preset or bookmark for all users in the role."},"search_query":{"type":"string","description":"What the user searched for in search/filter in the header bar."},"filters":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"rating"},"operator":{"type":"string","example":"gte"},"value":{"type":"integer","example":4.5}}}},"view_type":{"type":"string","description":"Name of the view type that is used. Defaults to tabular."},"view_query":{"type":"string","description":"View query that's saved per view type. Controls what data is fetched on load. These follow the same format as the JS SDK parameters."},"view_options":{"type":"string","description":"Options of the views. The properties in here are controlled by the layout."},"translation":{"type":"object","description":"Key value pair of language-translation. Can be used to translate the bookmark title in multiple languages."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Presets"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"tags":["Presets"],"operationId":"deletePreset","summary":"Delete a Preset","description":"Delete an existing preset.","security":[{"Auth":[]}],"responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"parameters":[{"$ref":"#/components/parameters/Id"}]}},"/revisions":{"get":{"summary":"List Revisions","description":"List the revisions.","operationId":"getRevisions","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Revisions"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Revisions"]}},"/revisions/{id}":{"get":{"summary":"Retrieve a Revision","description":"Retrieve a single revision by unique identifier.","operationId":"getRevision","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Revisions"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Revisions"]}},"/folders":{"get":{"summary":"List Folders","description":"List the folders.","operationId":"getFolders","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Folders"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Folders"]},"post":{"summary":"Create a Folder","description":"Create a new folder.","operationId":"createFolder","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Amsterdam","description":"Name of the folder."},"parent":{"description":"Unique identifier of the parent folder. This allows for nested folders.","type":"integer"}},"required":["name"]}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Folders"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Folders"]},"patch":{"summary":"Update Multiple Folders","description":"Update multiple folders at the same time.","tags":["Folders"],"operationId":"updateFolders","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","example":"Amsterdam","description":"Name of the folder."},"parent":{"description":"Unique identifier of the parent folder. This allows for nested folders.","type":"integer"}},"required":["name"]},"keys":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Folders"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Folders","description":"Delete multiple existing folders.","tags":["Folders"],"operationId":"deleteFolders","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/folders/{id}":{"get":{"summary":"Retrieve a Folder","description":"Retrieve a single folder by unique identifier.","operationId":"getFolder","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Folders"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Folders"]},"patch":{"summary":"Update a Folder","description":"Update an existing folder","operationId":"updateFolder","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the folder. Can't be null or empty."},"parent":{"type":"integer","example":3,"description":"Unique identifier of the parent folder. This allows for nested folders."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Folders"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Folders"]},"delete":{"summary":"Delete a Folder","description":"Delete an existing folder","operationId":"deleteFolder","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Folders"],"parameters":[{"$ref":"#/components/parameters/UUId"}]}},"/files":{"get":{"summary":"List Files","description":"List the files.","tags":["Files"],"operationId":"getFiles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Files"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"post":{"summary":"Create a File","description":"Create a new file","tags":["Files"],"operationId":"createFile","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"string"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update Multiple Files","description":"Update multiple files at the same time.","tags":["Files"],"operationId":"updateFiles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"data":{"type":"string"}}},"keys":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Files"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Files","description":"Delete multiple existing files.","tags":["Files"],"operationId":"deleteFiles","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/files/{id}":{"get":{"summary":"Retrieve a Files","description":"Retrieve a single file by unique identifier.","tags":["Files"],"operationId":"getFile","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"patch":{"summary":"Update a File","description":"Update an existing file, and/or replace it's file contents.","tags":["Files"],"operationId":"updateFile","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"multipart/data":{"schema":{"type":"object","required":["file"],"properties":{"title":{"description":"Title for the file. Is extracted from the filename on upload, but can be edited by the user.","example":"User Avatar","type":"string"},"filename_download":{"description":"Preferred filename when file is downloaded.","type":"string"},"description":{"description":"Description for the file.","type":"string","nullable":true},"folder":{"description":"Virtual folder where this file resides in.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Folders"}],"nullable":true},"tags":{"description":"Tags for the file. Is automatically populated based on Exif data for images.","type":"array","nullable":true,"items":{"type":"string"}},"file":{"description":"File contents.","format":"binary"}}}},"application/json":{"schema":{"type":"object","properties":{"title":{"description":"Title for the file. Is extracted from the filename on upload, but can be edited by the user.","example":"User Avatar","type":"string"},"filename_download":{"description":"Preferred filename when file is downloaded.","type":"string"},"description":{"description":"Description for the file.","type":"string","nullable":true},"folder":{"description":"Virtual folder where this file resides in.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Folders"}],"nullable":true},"tags":{"description":"Tags for the file. Is automatically populated based on Exif data for images.","type":"array","nullable":true,"items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete a File","description":"Delete an existing file.","tags":["Files"],"operationId":"deleteFile","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"parameters":[{"$ref":"#/components/parameters/UUId"}]}},"/permissions":{"get":{"summary":"List Permissions","description":"List all permissions.","operationId":"getPermissions","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Permissions"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"]},"post":{"summary":"Create a Permission","description":"Create a new permission.","operationId":"createPermission","parameters":[{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"collection":{"description":"What collection this permission applies to.","type":"string","example":"customers"},"comment":{"description":"If the user can post comments.","type":"string","enum":["none","create","update","full"]},"create":{"description":"If the user can create items.","type":"string","enum":["none","full"]},"delete":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"explain":{"description":"If the user is required to leave a comment explaining what was changed.","type":"string","enum":["none","create","update","always"]},"read":{"description":"If the user can read items.","type":"string","enum":["none","mine","role","full"]},"role":{"description":"Unique identifier of the role this permission applies to.","type":"integer","example":3},"read_field_blacklist":{"description":"Explicitly denies read access for specific fields.","type":"array","items":{"type":"string"},"example":["featured_image"]},"status":{"description":"What status this permission applies to.","type":"string"},"status_blacklist":{"description":"Explicitly denies specific statuses to be used.","type":"array","items":{"type":"string"}},"update":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"write_field_blacklist":{"description":"Explicitly denies write access for specific fields.","type":"array","items":{"type":"string"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Permissions"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"]},"patch":{"summary":"Update Multiple Permissions","description":"Update multiple permissions at the same time.","tags":["Permissions"],"operationId":"updatePermissions","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"type":"string"}},"data":{"properties":{"collection":{"description":"What collection this permission applies to.","type":"string","example":"customers"},"comment":{"description":"If the user can post comments.","type":"string","enum":["none","create","update","full"]},"create":{"description":"If the user can create items.","type":"string","enum":["none","full"]},"delete":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"explain":{"description":"If the user is required to leave a comment explaining what was changed.","type":"string","enum":["none","create","update","always"]},"read":{"description":"If the user can read items.","type":"string","enum":["none","mine","role","full"]},"role":{"description":"Unique identifier of the role this permission applies to.","type":"integer","example":3},"read_field_blacklist":{"description":"Explicitly denies read access for specific fields.","type":"array","items":{"type":"string"},"example":["featured_image"]},"status":{"description":"What status this permission applies to.","type":"string"},"status_blacklist":{"description":"Explicitly denies specific statuses to be used.","type":"array","items":{"type":"string"}},"update":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"write_field_blacklist":{"description":"Explicitly denies write access for specific fields.","type":"array","items":{"type":"string"}}},"type":"object"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Permissions"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"delete":{"summary":"Delete Multiple Permissions","description":"Delete multiple existing permissions.","tags":["Permissions"],"operationId":"deletePermissions","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/permissions/me":{"get":{"summary":"List My Permissions","description":"List the permissions that apply to the current user.","operationId":"getMyPermissions","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Permissions"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"]}},"/permissions/{id}":{"get":{"summary":"Retrieve a Permission","description":"Retrieve a single permissions object by unique identifier.","operationId":"getPermission","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Permissions"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"]},"patch":{"summary":"Update a Permission","description":"Update an existing permission","operationId":"updatePermission","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"collection":{"description":"What collection this permission applies to.","type":"object"},"comment":{"description":"If the user can post comments. `full`.","type":"string","enum":["none","create","update"]},"create":{"description":"If the user can create items.","type":"string","enum":["none","full"]},"delete":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"explain":{"description":"If the user is required to leave a comment explaining what was changed.","type":"string","enum":["none","create","update","always"]},"read":{"description":"If the user can read items.","type":"string","enum":["none","mine","role","full"]},"read_field_blacklist":{"description":"Explicitly denies read access for specific fields.","type":"object"},"role":{"description":"Unique identifier of the role this permission applies to.","type":"object"},"status":{"description":"What status this permission applies to.","type":"object"},"status_blacklist":{"description":"Explicitly denies specific statuses to be used.","type":"object"},"update":{"description":"If the user can update items.","type":"string","enum":["none","mine","role","full"]},"write_field_blacklist":{"description":"Explicitly denies write access for specific fields.","type":"object"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Permissions"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"]},"delete":{"summary":"Delete a Permission","description":"Delete an existing permission","operationId":"deletePermission","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Permissions"],"parameters":[{"$ref":"#/components/parameters/Id"}]}},"/fields":{"get":{"summary":"List All Fields","description":"Returns a list of the fields available in the project.","operationId":"getFields","parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Fields"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"]}},"/fields/{collection}":{"get":{"summary":"List Fields in Collection","description":"Returns a list of the fields available in the given collection.","operationId":"getCollectionFields","parameters":[{"description":"Unique identifier of the collection the item resides in.","in":"path","name":"collection","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Fields"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"]},"post":{"summary":"Create Field in Collection","description":"Create a new field in a given collection.","operationId":"createField","requestBody":{"content":{"application/json":{"schema":{"required":["field","datatype","type","length"],"type":"object","properties":{"field":{"description":"Unique name of the field. Field name is unique within the collection.","example":"id","type":"string"},"type":{"description":"Directus specific data type. Used to cast values in the API.","example":"integer","type":"string"},"schema":{"description":"The schema info.","type":"object","properties":{"name":{"description":"The name of the field.","example":"title","type":"string"},"table":{"description":"The collection of the field.","example":"posts","type":"string"},"type":{"description":"The type of the field.","example":"string","type":"string"},"default_value":{"description":"The default value of the field.","example":null,"type":"string","nullable":true},"max_length":{"description":"The max length of the field.","example":null,"type":"integer","nullable":true},"is_nullable":{"description":"If the field is nullable.","example":false,"type":"boolean"},"is_primary_key":{"description":"If the field is primary key.","example":false,"type":"boolean"},"has_auto_increment":{"description":"If the field has auto increment.","example":false,"type":"boolean"},"foreign_key_column":{"description":"Related column from the foreign key constraint.","example":null,"type":"string","nullable":true},"foreign_key_table":{"description":"Related table from the foreign key constraint.","example":null,"type":"string","nullable":true},"comment":{"description":"Comment as saved in the database.","example":null,"type":"string","nullable":true},"schema":{"description":"Database schema (pg only).","example":"public","type":"string"},"foreign_key_schema":{"description":"Related schema from the foreign key constraint (pg only).","example":null,"type":"string","nullable":true}}},"meta":{"description":"The meta info.","type":"object","nullable":true,"properties":{"id":{"description":"Unique identifier for the field in the `directus_fields` collection.","example":3,"type":"integer"},"collection":{"description":"Unique name of the collection this field is in.","example":"posts","type":"string"},"field":{"description":"Unique name of the field. Field name is unique within the collection.","example":"title","type":"string"},"special":{"description":"Transformation flag for field","example":null,"type":"array","items":{"type":"string"},"nullable":true},"system-interface":{"description":"What interface is used in the admin app to edit the value for this field.","example":"primary-key","type":"string","nullable":true},"options":{"description":"Options for the interface that's used. This format is based on the individual interface.","example":null,"type":"object","nullable":true},"display":{"description":"What display is used in the admin app to display the value for this field.","example":null,"type":"string","nullable":true},"display_options":{"description":"Options for the display that's used. This format is based on the individual display.","example":null,"type":"object","nullable":true},"locked":{"description":"If the field can be altered by the end user. Directus system fields have this value set to `true`.","example":true,"type":"boolean"},"readonly":{"description":"Prevents the user from editing the value in the field.","example":false,"type":"boolean"},"hidden":{"description":"If this field should be hidden.","example":true,"type":"boolean"},"sort":{"description":"Sort order of this field on the edit page of the admin app.","example":1,"type":"integer","nullable":true},"width":{"description":"Width of the field on the edit form.","example":null,"type":"string","nullable":true,"enum":["half","half-left","half-right","full","fill",null]},"group":{"description":"What field group this field is part of.","example":null,"type":"integer","nullable":true},"translation":{"description":"Key value pair of `<language>: <translation>` that allows the user to change the displayed name of the field in the admin app.","example":null,"type":"object","nullable":true},"note":{"description":"A user provided note for the field. Will be rendered alongside the interface on the edit page.","example":"","type":"string","nullable":true}}}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Fields"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"],"parameters":[{"description":"Unique identifier of the collection the item resides in.","in":"path","name":"collection","required":true,"schema":{"type":"string"}}]}},"/fields/{collection}/{id}":{"get":{"summary":"Retrieve a Field","description":"Retrieves the details of a single field in a given collection.","operationId":"getCollectionField","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Fields"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"],"parameters":[{"name":"collection","in":"path","description":"Unique identifier of the collection the item resides in.","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"Unique identifier of the field.","schema":{"type":"string"},"required":true}]},"patch":{"summary":"Update a Field","description":"Update an existing field.","operationId":"updateField","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"field":{"description":"Unique name of the field. Field name is unique within the collection.","example":"id","type":"string"},"type":{"description":"Directus specific data type. Used to cast values in the API.","example":"integer","type":"string"},"schema":{"description":"The schema info.","type":"object","properties":{"name":{"description":"The name of the field.","example":"title","type":"string"},"table":{"description":"The collection of the field.","example":"posts","type":"string"},"type":{"description":"The type of the field.","example":"string","type":"string"},"default_value":{"description":"The default value of the field.","example":null,"type":"string","nullable":true},"max_length":{"description":"The max length of the field.","example":null,"type":"integer","nullable":true},"is_nullable":{"description":"If the field is nullable.","example":false,"type":"boolean"},"is_primary_key":{"description":"If the field is primary key.","example":false,"type":"boolean"},"has_auto_increment":{"description":"If the field has auto increment.","example":false,"type":"boolean"},"foreign_key_column":{"description":"Related column from the foreign key constraint.","example":null,"type":"string","nullable":true},"foreign_key_table":{"description":"Related table from the foreign key constraint.","example":null,"type":"string","nullable":true},"comment":{"description":"Comment as saved in the database.","example":null,"type":"string","nullable":true},"schema":{"description":"Database schema (pg only).","example":"public","type":"string"},"foreign_key_schema":{"description":"Related schema from the foreign key constraint (pg only).","example":null,"type":"string","nullable":true}}},"meta":{"description":"The meta info.","type":"object","nullable":true,"properties":{"id":{"description":"Unique identifier for the field in the `directus_fields` collection.","example":3,"type":"integer"},"collection":{"description":"Unique name of the collection this field is in.","example":"posts","type":"string"},"field":{"description":"Unique name of the field. Field name is unique within the collection.","example":"title","type":"string"},"special":{"description":"Transformation flag for field","example":null,"type":"array","items":{"type":"string"},"nullable":true},"system-interface":{"description":"What interface is used in the admin app to edit the value for this field.","example":"primary-key","type":"string","nullable":true},"options":{"description":"Options for the interface that's used. This format is based on the individual interface.","example":null,"type":"object","nullable":true},"display":{"description":"What display is used in the admin app to display the value for this field.","example":null,"type":"string","nullable":true},"display_options":{"description":"Options for the display that's used. This format is based on the individual display.","example":null,"type":"object","nullable":true},"locked":{"description":"If the field can be altered by the end user. Directus system fields have this value set to `true`.","example":true,"type":"boolean"},"readonly":{"description":"Prevents the user from editing the value in the field.","example":false,"type":"boolean"},"hidden":{"description":"If this field should be hidden.","example":true,"type":"boolean"},"sort":{"description":"Sort order of this field on the edit page of the admin app.","example":1,"type":"integer","nullable":true},"width":{"description":"Width of the field on the edit form.","example":null,"type":"string","nullable":true,"enum":["half","half-left","half-right","full","fill",null]},"group":{"description":"What field group this field is part of.","example":null,"type":"integer","nullable":true},"translation":{"description":"Key value pair of `<language>: <translation>` that allows the user to change the displayed name of the field in the admin app.","example":null,"type":"object","nullable":true},"note":{"description":"A user provided note for the field. Will be rendered alongside the interface on the edit page.","example":"","type":"string","nullable":true}}}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Fields"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"],"parameters":[{"name":"collection","in":"path","description":"Unique identifier of the collection the item resides in.","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"Unique identifier of the field.","schema":{"type":"string"},"required":true}]},"delete":{"summary":"Delete a Field","description":"Delete an existing field.","operationId":"deleteField","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Fields"],"parameters":[{"name":"collection","in":"path","description":"Unique identifier of the collection the item resides in.","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"Unique identifier of the field.","schema":{"type":"string"},"required":true}]}},"/relations":{"get":{"summary":"List Relations","description":"List the relations.","operationId":"getRelations","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Relations"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]},"post":{"summary":"Create a Relation","description":"Create a new relation.","operationId":"createRelation","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"collection_many":{"description":"Collection that has the field that holds the foreign key.","type":"string","example":"articles"},"collection_one":{"description":"Collection on the _one_ side of the relationship.","type":"string","example":"authors"},"field_many":{"description":"Foreign key. Field that holds the primary key of the related collection.","type":"string","example":"author"},"field_one":{"description":"Alias column that serves as the _one_ side of the relationship.","type":"string","example":"books"},"junction_field":{"description":"Field on the junction table that holds the primary key of the related collection.","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Relations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]}},"/relations/{id}":{"get":{"summary":"Retrieve a Relation","description":"Retrieve a single relation by unique identifier.","operationId":"getRelation","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Relations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]},"patch":{"summary":"Update a Relation","description":"Update an existing relation","operationId":"updateRelation","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"collection_many":{"description":"Collection that has the field that holds the foreign key.","type":"string"},"collection_one":{"description":"Collection on the _one_ side of the relationship.","type":"string"},"field_many":{"description":"Foreign key. Field that holds the primary key of the related collection.","type":"string"},"field_one":{"description":"Alias column that serves as the _one_ side of the relationship.","type":"string","example":"books"},"junction_field":{"description":"Field on the junction table that holds the primary key of the related collection.","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Relations"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"]},"delete":{"summary":"Delete a Relation","description":"Delete an existing relation.","operationId":"deleteRelation","responses":{"200":{"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Relations"],"parameters":[{"$ref":"#/components/parameters/Id"}]}},"/activity":{"get":{"operationId":"getActivities","summary":"List Activity Actions","description":"Returns a list of activity actions.","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Activity"]}},"/activity/{id}":{"get":{"summary":"Retrieve an Activity Action","description":"Retrieves the details of an existing activity action. Provide the primary key of the activity action and Directus will return the corresponding information.","operationId":"getActivity","parameters":[{"$ref":"#/components/parameters/Id"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Activity"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Activity"]}},"/webhooks":{"get":{"summary":"List Webhooks","description":"Get all webhooks.","operationId":"getWebhooks","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Webhooks"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Webhooks"]},"post":{"summary":"Create a Webhook","description":"Create a new webhook.","operationId":"createWebhook","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"description":"The name of the webhook.","type":"string","example":"create articles"},"method":{"description":"Method used in the webhook.","type":"string","example":"POST"},"url":{"description":"The url of the webhook.","type":"string","example":null},"status":{"description":"The status of the webhook.","type":"string","example":"active"},"data":{"description":"If yes, send the content of what was done","type":"boolean","example":true},"actions":{"description":"The actions that triggers this webhook.","example":null},"system-collections":{"description":"The collections that triggers this webhook.","example":null}},"type":"object"}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Roles"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Webhooks"]},"patch":{"summary":"Update Multiple Webhooks","description":"Update multiple webhooks at the same time.","tags":["Webhooks"],"operationId":"updateWebhooks","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"data":{"properties":{"name":{"description":"The name of the webhook.","type":"string","example":"create articles"},"method":{"description":"Method used in the webhook.","type":"string","example":"POST"},"url":{"description":"The url of the webhook.","type":"string","example":null},"status":{"description":"The status of the webhook.","type":"string","example":"active"},"data":{"description":"If yes, send the content of what was done","type":"boolean","example":true},"actions":{"description":"The actions that triggers this webhook.","example":null},"system-collections":{"description":"The collections that triggers this webhook.","example":null}},"type":"object"},"keys":{"type":"array",
[...]
